# This entire folder contains downloaded libraries and is recreated from requirements.txt
# Local secrets file
.env
.env.*
*.env

# Virtual Environment
venv/
.venv/
env/

# Distribution / Build
dist/
build/
*.egg-info/


# OS-specific files
##########################
.DS_Store
Thumbs.db